* {
  box-sizing: border-box;
}

body {
  background-color: rgb(139, 29, 212);
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  height: 90vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}


.wrap__input__select {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 20px;
}

input, select {
  width: 350px;
  padding: 9px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 10px;
  border-color:blueviolet;
  font-size: 18px;
}



select,input:focus {
  outline: none;
}

#my-canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

button {
  font-size: 20px;
  background-color:blueviolet;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  display: block;
  /* z-index: 1000; */
}

#done {
  position: absolute;
  top: 14%;
  right: 20px
}

button:hover {
  background-color: rgb(108, 17, 193);
}

.output__list {
  font-size: 18px;
}

.modal {
  position: absolute;
  top: 25%;
  left: 18%;
  width: 250px;
  height: 200px;
  padding: 20px 20px;
  background-color: rgb(108, 17, 193);
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  display: none;
  transition: all 0.4s ease;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 440px) {
  .wrapper {
    max-width: 100%;
    padding: 20px;
  }

  #done {
    position: absolute;
    top: 20%;
    right: 20px
  }

  input, select {
    max-width: 250px;
  }

  .modal {
    top: 27%;
    left: 40px;
  }  
}

@media screen and (max-width: 300px) {
  .wrapper {
    max-width: 100%;
    padding: 20px;
  }

  input, select {
    max-width: 150px;

  }
}